@import 'node_modules/primereact/resources/themes/lara-light-blue/theme.css'; 
@import 'node_modules/primereact/resources/primereact.min.css';               
@import 'node_modules/primeicons/primeicons.css';                            
@import 'node_modules/primeflex/primeflex.css';

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color:#183462;
}
/* .carousel-item {
    width: 100%;
    padding: 0.5rem; 
}

.carousel-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover; 
}
.single-item {
    max-width: 30%; 
    display: flex;
    justify-content: center;
    
} */
.p-button-success {
    background-color: #19b025fc !important;
    border: none;
  }
  